* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.conteiner {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.conteiner-flex {
    display: flex;
}

header {
    background-color: #06243d;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
}

header .conteiner {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

nav {
    padding: 20px 0 0 0;
}

nav li {
    display: inline;
    list-style: none;
    margin-right: 100px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}


.menu-hamburger {
    width: 30px;
    cursor: pointer;
    display: block;
}

.carrinho img {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;

}

.carrinho {
    color: white;
    display: block;
}

.submenu {
    display: none;
    border: 1px solid #84b9e4;
    background-color: #2f84c9;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu li:hover .submenu {
    display: block;
}

.menu>li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: #076dc1;
}

.submenu li {
    display: block;
    padding: 8px;
}

.submenu a {
    color: white;
    text-decoration: none;
}

.sobrenos img {
    width: 320px;
    height: 320px;
}

section img {
    margin-top: 50px;
    margin-right: 30px;
}

.sobrenos h2 {
    margin-top: 50px;
    margin-bottom: 15px;
    color: #076dc1;
    text-align: center;
    border-bottom: 1px solid black;
}

section p {
    margin-bottom: 5px;
}

.conteudo {
    display: grid;
}

.jogo article {
    height: 300px;
}

.jogos-venda {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.jogos-venda img {
    width: 100%;
    height: 320px;
}

.jogo-catalogo {
    margin-top: 25px;
}

.jogo-catalogo h2 {
    color: #076dc1;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.jogo-catalogo h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.jogo-catalogo p {
    margin-bottom: 5px;
    text-align: center;
}

.promocao {
    text-decoration: line-through;
}

.jogo .adjust {
    margin-bottom: 27px;
}

.jogos-venda button {
    background-color: #076dc1;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    width: 100%;
}

.botao-menu{
    display:none;
}

footer {
    background-color: #06243d;
    text-align: center;
    padding: 25px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .conteiner {
        display: block;
    }

    header {
        margin-bottom: 15px;
    }

    .sobrenos img {
        display: block;
        margin: auto;
        padding-bottom: 15px;
    }

    .sobrenos h2,
    .sobrenos p {
        width: 95%;
        margin: auto;
    }

    .sobrenos h2 {
        margin-bottom: 5px;
    }

    .submenu {
        display: block;
        border: 1px solid #84b9e4;
        background-color: #2f84c9;
        width: 100%;
        position: relative;
        border: none;
    }

    .menu {
        display: none;
        margin-left: 20%;
    }

    .submenu li {
        display: block;
        padding: 8px;
    }

    .submenu a {
        color: white;
        text-decoration: none;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    .botao-menu button {
        background-color: #076dc1;
        color: white;
        font-weight: bold;
        padding: 5px;
        border: none;
    }

    .carrinho{
        margin-left: 6px;
    }
    
    .jogos-venda {
        display: grid;
        justify-content: center;
        grid-template-columns: 50%;
        column-gap: 1%;
    }

    .jogos-venda img{
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .conteiner{
        max-width: 95%;
    }

    .jogos-venda {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 49%);
        row-gap: 5%;
        column-gap: 1%;
    }

    footer{
        margin-top: 70px;
    }
}